.headline {
    font-family: 'Comfortaa', sans-serif;
    color: #eee;
}

.headline--big {
    font-size: 2.0em;
    text-transform: uppercase;
}

.headline--small {
    font-size: 1.8em;
}
.paragraph {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6em;
    color: #eee;
}