.headline {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 300;
  color: var(--lightgrey);
  font-size: 1.8rem;
  margin-bottom: 1.8rem;
}
.headline--main {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  text-align: center;
}
.headline--center {
  text-align: center;
}

.paragraph {
  font-size: 1.6rem;
  font-weight: 300;
  color: var(--lightgrey);
  line-height: 1.2;
  margin-bottom: 1.2rem;
}
.paragraph--strong {
  margin-top: 1.8rem;
  font-weight: 400;
}