.l_main {
  padding: 4rem;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.l_wrapper {
  padding-left: 2rem;
  padding-right: 2rem;
}

.l_flex {
  display: flex;
  flex-direction: column;
}

.l_flex--horizontal {
  flex-direction: row;
}