@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700|Roboto:300,400,500,700|Cutive+Mono');


@import 'reset.css';
@import 'color.css';
@import 'layout.css';
@import 'button.css';
@import 'form.css';
@import 'loader.css';
@import 'font.css';
@import 'transition.css';
@import 'format.css';
@import 'utility.css';

* {
  flex-shrink: 0;
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background: #ccc;
}

html {
  height: 100vh;
  color: var(--lightgrey);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

::selection {
  background: #ccc;
}

[class*='u_gradient-background']:before {
  content: ' ';
  display: block;
  background-position: top center;
  background-size: cover;
  background-image: url('../img/bg_default.png');
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: -10;
}
.u_gradient-background--mixed:before {
  background-image: url('../img/bg_mixed.png');
}
.u_gradient-background--blue:before {
  background-image: url('../img/bg_blue.png');
}
.u_gradient-background--purple:before {
  background-image: url('../img/bg_purple.png');
}
.u_gradient-background--orange:before {
  background-image: url('../img/bg_orange.png');
}
html[class*="u_gradient-background"]:before {
  transition: background .3s ease-in-out;
}

/* Background Image Preloading */
html:after{
  position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
  content: url(../img/bg_default.png) url(../img/bg_mixed.png) url(../img/bg_orange.png) url(../img/bg_purple.png) url(../img/bg_blue.png);
}

.logo {
  opacity: .5;
}

@media screen and (min-device-width: 175vh) {
  html {
    transform: rotate(90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    left: 100%;
  }
  [class*='u_gradient-background']:before {
    width: 100vh;
    height: 100vw;
  }
}