.no-mode-translate-enter-active, .no-mode-translate-leave-active {
  position: absolute;
  left: 2rem;
  width: calc(100% - 4rem);
  backface-visibility: hidden;
  transition: transform .3s ease-in-out;
}
.no-mode-translate-enter {
  transform: translateX(120%);
}
.no-mode-translate-leave-active {
  transform: translateX(-120%);
}

.turn-enter-active, .turn-leave-active {
  position: absolute;
  width: 100%;
  backface-visibility: hidden;
}
.turn-enter-active {
  transition: transform .15s ease-in-out .15s;
}
.turn-leave-active {
  transition: transform .15s ease-in-out;
}
.turn-enter {
  transform: rotate3d(1,0,0,90deg);
}
.turn-leave-active {
  transform: rotate3d(1,0,0,-90deg);
}